.App{
  position: absolute;
  text-align: center;
  
  top:55%;
  left:50%;
  transform:translate(-50%,-50%);
  
  /* padding-top:100px; */
   
  height:50%;
  width: 30%; 
  color:white;
  border: 5px solid green;
  border-radius:50%;
  background-color:black;
  box-shadow: -15px 03px darkgreen;
}

.App span{
  position: absolute;
  margin-top:30%;
  transform: translateX(-50%);
  font-size: 30px;
  border-radius:25px;
  padding:10px;
  /* background-color: lightgreen; */
}
