body {
  margin: 0;
  padding: 0;
  background-color: lightseagreen;
  font-family: sans-serif;
}
.head{
  background:blueviolet;
  /* opacity:0.5; */
  margin-top: 3%;
  padding:2%;
}

a{
text-decoration: none;    
}
.head a{
  display:inline;
  background-color: white;
  padding:10px;
  border-radius:20px;
  text-shadow: 5px;
  box-shadow: -3px 3px 5px red;
}
.head a:hover{
  transform: translateX(3px);
}
.head a:active{
  background:lightgrey;
  box-shadow: none;
}
#about{
  margin-left: 20%;
}
#contact{

}
#home{
  margin-right:20%;
  margin-left:20%;
}
