body {
  margin: 0;
  padding: 0;
  background-color: aquamarine;
  font-family: sans-serif;
}
.head h4{
  text-align: center;
  background-color: white;
  width: 100px;
  margin-left:50%;
  transform:translateX(-50%);
  border-radius:20px;
  text-shadow: 5px;
  
}